*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/*
/build/
/bin/
/*.log
**/build-history.bin
# Build logic
/build-logic/convention/build/
\n# Google Cloud credentials\n/app/src/main/res/raw/google_credentials.json
